.drag-and-drop{
  position: relative;
  border: 1px dashed;
  height: 100%;
  min-height: 100px; 
}
.drag-and-drop:hover > img {  
  opacity: 0.2; 
} 
.drag-and-drop .text-drag{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  text-align: center;
}
.drag-and-drop .text-drag span{
  top: 50%;
  position: relative;
}
.drag-and-drop input{
  position: absolute;
  background: #3b3934;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
